<!-- Originally written by Jacob Spalding -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Traffic Wizard</title>
</head>
<body class="horizontal-center">
    <h1 class="horizontal-center">My Traffic Wizard</h1>
    <form id="userForm">
        <label for="discordId">Discord UserID:</label><br>
        <input type="text" id="discordId" name="discordId"><br>
        <label for="name">Message:</label><br>
        <input type="text" id="message" name="message"><br>
        <input type="submit" value="Submit">
    </form>
    <div class="discord_bot_response"></div>
    <!-- A container to display Discord bot response -->
</body>
<script src="discord_bot.js"></script>
</html>