<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Traffic Wizard</title>
    <link rel="stylesheet" href="static/css/style.css"></link>
    <script src="js/userInterface.js" defer></script>
</head>
<body class="horizontal-center">
    <header class="home-page-header">
        <div class="header-content">
            <img src="static/images/wizard.png" alt="friendly wizard logo" class="logo">
            <h1 class="home-page-h1">My Traffic Wizard</h1>
        </div>
    </header>
    <main class="home-page-main">
        <div class="image horizontal-center">
            <img src="static/images/map-placeholder.jpg" class="map-image-mobile" alt="map of route">
        </div>
        <form class="horizontal-center">
            <div class="form-container">
                <div class="trip-details-container">
                    <div class ="address-container">
                        <section class="horizontal-center departure-date-block">
                            <div class="input-group">
                                <label class="address departureDateTimeLabel" for="departure_date"><h2>Departure Date and Time</h2></label>
                                <input class="address" type="datetime-local" id="departure_date" name="departure_date" required>
                            </div>
                        </section>
                        <section id="departureDetails" class="horizontal-center departure-block">
                            <div class="input-group">
                                <h2>Departure</h2>
                                <label class="address" for="departureAddress">Enter Address</label>
                                <input class="address" type="text" id="departureAddress" name="departureAddress" required>
                            </div>
                            <div id="departureAddressMatches">
                                <!-- Departure address matches filled in here. -->
                            </div>
                            <div>
                                <input type="text" id="departure_latitude" name="departure_latitude" hidden>
                                <input type="text" id="departure_longitude" name="departure_longitude" hidden>
                            </div>
                        </section>
                        <section id="destinationDetails" class="horizontal-center destination-block">
                            <div class="input-group">
                                <h2>Destination</h2>
                                <label class="address" for="destinationAddress">Enter Address</label>
                                <input class="address" type="text" id="destinationAddress" name="destinationAddress" required>
                            </div>
                            <div id="destinationAddressMatches">
                                <!-- Departure address matches filled in here. -->
                            </div>
                            <div>
                                <input type="text" id="destination_latitude" name="destination_latitude" hidden>
                                <input type="text" id="destination_longitude" name="destination_longitude" hidden>
                            </div>
                        </section>
                    </div>
                    <section class="notifications-container"> 
                        <h2>Choose Notifications Channels</h2>
                        <div class="notifications-block">
                            <div class="input-group">
                                <label class="notification-label" for="email_address">Email (Required)</label>
                                <input class="notification-input" type="text" id="email_address" name="email_address" required>
                            </div>
                            <div class="input-group">
                                <input class="notification" type="checkbox" id="smsCheckBox" name="smsCheckBox">
                                <label class="notification-label" for="mobile_number">Mobile Number</label>
                                <input class="notification-input" type="text" id="mobile_number" name="mobile_number" disabled>
                            </div>
                            <div class="input-group">
                                    <label class="notification-label" for="mobile_provider">Cell Provider</label>
                                    <select class="notification-input" type="text" id="mobile_provider" name="mobile_provider" disabled>
                                        <option value="@paging.acswireless.com">Ameritech</option>
                                        <option value="@vmobl.com">Assurance Wireless</option>
                                        <option value="@txt.att.net">AT&T</option>
                                        <option value="@sms.myboostmobile.com">Boost Mobile</option>
                                        <option value="@csouth1.com">C Spire</option>
                                        <option value="@cellcom.quiktxt.com">Cellcom</option>
                                        <option value="@cwemail.com">Centennial Wireless</option>
                                        <option value="@sms.cvalley.net">Chariton Valley Wireless</option>
                                        <option value="@mail.msgsender.com">Chat Mobility</option>
                                        <option value="@sms.cleartalk.us">Cleartalk</option>
                                        <option value="@cingularme.com">Consumer Cellular</option>
                                        <option value="@sms.cricketwireless.net">Cricket</option>
                                        <option value="@msg.fi.google.com">Google Project Fi</option>
                                        <option value="@mymetropcs.com">Metro</option>
                                        <option value="@tmomail.net">Mint Mobile</option>
                                        <option value="@sms.ntwls.net">Nextech</option>
                                        <option value="@text.republicwireless.com">Republic Wireless</option>
                                        <option value="@rinasms.com">SC Broadband</option>
                                        <option value="@page.southernlinc.com">Southern Linc</option>
                                        <option value="@pm.sprint.com">Sprint</option>
                                        <option value="@txt.att.net">Straight Talk</option>
                                        <option value="@tmomail.net">T-Mobile</option>
                                        <option value="@message.ting.com">Ting</option>
                                        <option value="@txt.att.net">TracFone</option>
                                        <option value="@union-tel.com">Union Wireless</option>
                                        <option value="@email.uscc.net">US Cellular</option>
                                        <option value="@vtext.com">Verizon</option>
                                        <option value="@vmobl.com">Virgin Mobile</option>
                                        <option value="@text.voyagermobile.com">Voyager Mobile</option>
                                    </select>
                            </div>
                            <div class="input-group">
                                <input class="notification" type="checkbox" id="discordCheckbox" name="discordCheckbox">
                                <label class="notification-label" for="user_id_discord">Discord</label>
                                <input class="notification-input" type="text" id="user_id_discord" name="user_id_discord" disabled>
                            </div>
                            <div class="input-group">
                                <input class="notification" type="checkbox" id="slackCheckBox" name="slackCheckBox">
                                <label class="notification-label" for="user_id_slack">Slack</label>
                                <input class="notification-input" type="text" id="user_id_slack" name="user_id_slack" disabled>
                            </div>
                        <div class="notifications-block"></div>
                    </section>
                    <div class="image horizontal-center">
                        <img src="static/images/map-placeholder.jpg" class="map-image-desktop" alt="map of route">
                    </div>
                </div>
            </div>
            <div class="button-and-response-container">
                <div class="button-container">
                    <button>Submit</button>
                </div>
                <p id="form-feedback"></p>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-copyright">Copyright &copy; 2024 My Traffic Wizard</div>
    </footer>
</body>
</html>